<div class="justify-content-center align-self-center">
    <div class="d-none d-lg-block">
        <div class="row">
            <div class="col big">
                <button (click)="cleanHistoric()" id="clean-historic-button" class="btn btn-danger btn-lg">
                    Clean historic <i class="fas fa-trash"></i>
                </button>
            </div>
            <div class="col big overflow-auto vh-50">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Min value</th>
                        <th scope="col" id="historic-number-result-text">Results ({{getHistoric().length}})</th>
                        <th scope="col">Max value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let result of getHistoric().slice().reverse(); index as i">
                        <td>
                            <div class="dropright">
                                <button class="btn btn-secondary btn-block"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fas fa-search"></i>
                                </button>
                                <div class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-header">Roll results</div>
                                    <div class="dropdown-divider"></div>
                                    <div *ngFor="let roll of result.rolls"
                                        class="dropdown-header">
                                        {{roll}} / {{result.diceType}}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{result.minValue}}</td>
                        <td>{{result.result}}</td>
                        <td>{{result.maxValue}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-block d-lg-none">
        <div class="row">
            <div class="col-sm-12 big">
                <button (click)="cleanHistoric()" class="btn btn-danger btn-lg btn-block">
                    Clean historic <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="big overflow-auto vw-100">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Min value</th>
                        <th scope="col">Results ({{getHistoric().length}})</th>
                        <th scope="col">Max value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let result of getHistoric().slice().reverse()">
                        <td>
                            <button class="btn btn-secondary btn-block"
                                    type="button"
                                    (click)="open(result)">
                                <i class="fas fa-search"></i>
                            </button>
                        </td>
                        <td>{{result.minValue}}</td>
                        <td>{{result.result}}</td>
                        <td>{{result.maxValue}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
