<div class="d-none d-lg-block">
    <div class="row">
        <div class="col-md-3 text-right">
            <h2>
                Dice type :
            </h2>
        </div>
        <div class="col-md-7">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <button *ngFor="let value of defaultDices" [class.active]="selectedDice==value && !otherSelected"
                        (click)="diceChoosed(value)"
                        id="dice-{{value}}-button"
                        type="button"
                        class="btn btn-warning">
                    {{value}}
                </button>
                <button type="button" class="btn btn-warning" id="dice-type-other-button" (click)="selectOther()"
                        [class.active]="otherSelected">
                    Other
                </button>
            </div>
        </div>
        <div class="col-md-2">
            <div class=" input-group-lg">
                <input type="text" class="form-control"
                       id="dice-value-input"
                       placeholder="custom value (1 if empty)"
                       aria-label="custom value (1 if empty)"
                       aria-describedby="basic-addon1"
                       [disabled]="!otherSelected"
                       [(ngModel)]="selectedDice">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3 text-right">
            <h2>
                Number of dices :
            </h2>
        </div>
        <div class="col-md-7">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <button *ngFor="let value of defaultNumberOfDices"
                        [class.active]="selectedNumberOfDice==value && !otherNumberOfDiceSelected"
                        (click)="numberOfDiceChoosed(value)"
                        type="button"
                        id="dice-number-{{value}}-button"
                        class="btn btn-info">
                    {{value}}
                </button>
                <button type="button" class="btn btn-info"
                        id="dice-number-other-button"
                        (click)="selectOtherNumberOfDice()"
                        [class.active]="otherNumberOfDiceSelected">
                    Other
                </button>
            </div>
        </div>
        <div class="col-md-2">
            <div class=" input-group-lg">
                <input type="text" class="form-control"
                       placeholder="custom value (1 if empty)"
                       aria-label="custom value (1 if empty)"
                       aria-describedby="basic-addon1"
                       id="dice-number-input"
                       [disabled]="!otherNumberOfDiceSelected"
                       [(ngModel)]="selectedNumberOfDice">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6 big">
            <button class="btn btn-lg btn-primary" id="dice-roll-button" (click)="generateRandomDice()">
                Roll the dice
                <i class="fas fa-dice"></i>
            </button>
        </div>
        <div class="col-md-2 big">
        </div>
        <div class="col-md-2 big" id="dice-result-text">
            {{diceValue.result}}
        </div>
        <div class="col-md-2 big">
        </div>
    </div>
</div>

<div class="d-block d-lg-none">
    <button class="btn btn-warning btn-lg btn-block"
            type="button"
            data-toggle="collapse"
            data-target="#collapsible"
            aria-expanded="false"
            aria-controls="collapsible">
        Dice type : {{selectedDice}}
    </button>
    <div class="collapse" #collapsible id="collapsible">
        <div class="card card-body">
            <button *ngFor="let value of defaultDices" [class.active]="selectedDice==value && !otherSelected"
                    (click)="diceChoosed(value)"
                    type="button"
                    class="btn btn-outline-warning btn-lg btn-block">
                {{value}}
            </button>
            <input type="number" class="form-control form-control-lg custom-margin"
                   (click)="selectOther()"
                   (focusout)="closeCollapsible()"
                   [(ngModel)]="selectedDice" placeholder="custom value (1 if empty)">
        </div>
    </div>
    <br/>
    <button class="btn btn-info btn-lg btn-block"
            type="button"
            data-toggle="collapse"
            data-target="#collapsible2"
            aria-expanded="false"
            aria-controls="collapsible2">
        Number of dices : {{selectedNumberOfDice}}
    </button>
    <div class="collapse" #collapsible2 id="collapsible2">
        <div class="card card-body">
            <button *ngFor="let value of defaultNumberOfDices"
                    [class.active]="selectedNumberOfDice==value && !otherNumberOfDiceSelected"
                    (click)="numberOfDiceChoosed(value)"
                    type="button"
                    class="btn btn-info btn-lg btn-block">
                {{value}}
            </button>
            <input type="number" class="form-control form-control-lg custom-margin"
                   (click)="selectOtherNumberOfDice()"
                   (focusout)="closeCollapsible2()"
                   [(ngModel)]="selectedNumberOfDice" placeholder="custom value (1 if empty)">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12 big">
            <button class="btn btn-primary btn-lg btn-block" (click)="generateRandomDice()">
                Roll the dice
                <i class="fas fa-dice"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 big">
            {{diceValue.result}}
        </div>
    </div>
</div>
